*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

     
/* apply styles to <header> */
header {
}
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #04510768;
    margin: 0;
    display: inline;
}

header a {
    text-decoration: none;
    color: #000000;
    
}

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 20px;
}

  .item1 {
      font-size: 40px;
      background-image: url("./images/blues.jpg");
      text-align: right;
      padding-top: 200px;
      
    }
    .content-area
    {
      display: flex;
      flex-direction: column;
      width: 60%;
     margin: 0 auto;

    }
    .content-area div{
      display: flex;
     margin: 10px; 
       
    }
    .content-area h1 {
      border-right: 4px solid gray;
     
    }
    .item2 

    .content-area
    {
      display: flex;
      flex-direction: column;
      width: 60%;
     margin: 0 auto;

    }
    .content-area div{
      display: flex;
     margin: 10px; 
       
    }
    .content-area h2 {
      border-right: 4px solid gray;
  
     
    }

    .item3
    .content-area
    {
      display: flex;
      flex-direction: column;
      width: 60%;
     margin: 0 auto;

    }
    .content-area div{
      display: flex;
     margin: 10px; 
       
    }
    .content-area h3 {
      border-right: 4px solid gray;
  
     
    }
    .item4
    
    .content-area
    {
      display: flex;
      flex-direction: column;
      width: 60%;
     margin: 0 auto;

    }
    .content-area div{
      display: flex;
     margin: 10px; 
       
    }
    .content-area h4 {
      border-right: 4px solid gray;

    }
  